/* .ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.ProductList div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f5f5f5;
}

.ProductList img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ProductList span {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
} */





.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 960px;
}

.Product {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  box-shadow: 6px 6px 10px rgba(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
  animation: fadeInUp 1s ease-in-out;
}

.Product:hover {
  box-shadow: 8px 8px 14px rgba(0, 0, 0);
}

.Product img {
  width: 100%;
  height: auto;
}

.Product span {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #ff6b6b;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
