.Drawer .content {
  background-color: #fffffffa;
  color: white;
  box-shadow: 0 0 10px #000;
  width: 300px;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  transform: translateX(-300px);
  transition: transform .3s;

  display: flex;
  align-items: center;
  height: 100%;
}

.Drawer .backdrop {
  background-color: rgba(0, 0, 0, .3);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  display: none;
}

.open .backdrop {
  display: block;
}

.open .content {
  transform: translateX(0);
}

@media (min-width: 1030px) {
  .Drawer .backdrop {
    display: none;
  }
  .Drawer .content {
    transform: translateX(-300px);
  }
} 