.Nav {
  display: flex;
}
.Logo {
  display: flex;
  align-items: center;
}
.NavUl {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 10px;
  font-size: 22px;
}

.Nav .NavItem {
  margin: 0 10px;
}

.Nav a {
  text-decoration: none;
  color: rgb( 0, 0, 0);
  font-weight: bold;
  margin-left: 130px;
}

.Nav a:hover {
  color: rgba(96, 96, 96);
} 

.Nav .active {
  color: rgb(211, 211, 212);
}