.Nav {
  display: flex;
  justify-content: center;
}
.Logo {
  display: flex;
  align-items: center;
}
.NavUl {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 10px;
}

.Nav .NavItem {
  margin: 0 10px;
}

.Nav a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

.Nav a:hover {
  color: red;
}

.Nav .active {
  color: grey;
}